* {
  margin: 0;
  padding: 0;
}

/* @media only screen and (min-width: 768px){
} */

@media only screen and (min-width: 375px) {
  .flex-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .img-header {
    flex-grow: 2;
  }

  .ic-menu {
    flex-grow: 2;
  }

  .flex-main {
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
  }

  .name {
    /* Charlie Giorgania */
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 15px;
    width: 80%;
  }

  .greetings {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.08em;
    color: #1a2236;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .button-collaboration {
    width: 95%;
    align-self: center;
    background: #1a2236;
    color: #fff;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    border: 1px hidden;
    margin-top: 20px;
  }

  .button-collaboration:hover {
    background: #fcf9f9;
    color: #1a2236;
    font-weight: 600;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .img-projects {
    margin-top: 45px;
    width: 100%;
  }

  .projects > p {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
    margin-top: 55px;
    margin-bottom: 45px;
    padding-left: 20px;
  }

  .project-img-rectangle {
    width: 100%;
  }

  .project-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: -10px;
    background: #1a2236;
    border: 0.333333px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.5px);
    padding-left: 30px;
  }

  .project-info p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 80%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-top: 30px;
  }

  .stack-list {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 80%;
    color: #1a2236;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-start;
  }

  .stack {
    background: #98dede;
    padding: 10px 15px 10px 15px;
    letter-spacing: 0.1em;
  }

  .see-project {
    width: fit-content;
    background: #1a2236;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    padding: 10px 20px;
  }
}
